## Lets import pyspark sql session to begin creating a dataset

In [23]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
import logging

## Lets Start a Pyspark Session and build an AppName

In [24]:

# spark.stop()
# sc.stop()

In [15]:
from pyspark import SparkConf, SparkContext

##setup for logs
logging.getLogger("py4j").setLevel(logging.ERROR)

conf = SparkConf().setAppName("CreateDatabase")
sc = SparkContext(conf=conf)

In [16]:

spark = SparkSession.builder.appName("CreateDatabase").getOrCreate()

## Now Lets create a Python List to create a data for an Employee and Department

In [17]:
employee_data = [(1, "Ram", "Shrestha", "ram@example.com" , "1992-02-11", 55000, 101),
                (2, "Hari", "Gautam", "hari@example.com", "1993-02-09", 55000, 102),
                (3, "Sumit", "Bahadur", "sumit@example.com", "1990-01-20", 60000, 103)
                ## you can add more rows if you want
                ]

department_data = [
    (101, "IT_Department"),
    (102, "HR_Department"),
    (103, "Marketing")
]

## Now Lets Give each filed their Data Types

In [18]:
employee_schema = StructType([StructField("employee_id", IntegerType(), True),
                             StructField("first_name", StringType(), True),
                             StructField("last_name", StringType(), True),
                             StructField("email", StringType(), True),
                             StructField("hire_date", StringType(), True),
                             StructField("salary", IntegerType(), True),
                             StructField("department_id", IntegerType(), True)])

In [19]:
department_schema = StructType([StructField("department_id", IntegerType(), True),
                               StructField("department_name", StringType(), True)])

## Lets write this schema Df to our Drive

In [20]:
employees_df = spark.createDataFrame(employee_data , employee_schema)
departments_df = spark.createDataFrame(department_data,department_schema)

In [21]:
spark

In [30]:
employees_df.coalesce(1).head(10)

[Row(employee_id=1, first_name='Ram', last_name='Shrestha', email='ram@example.com', hire_date='1992-02-11', salary=55000, department_id=101),
 Row(employee_id=2, first_name='Hari', last_name='Gautam', email='hari@example.com', hire_date='1993-02-09', salary=55000, department_id=102),
 Row(employee_id=3, first_name='Sumit', last_name='Bahadur', email='sumit@example.com', hire_date='1990-01-20', salary=60000, department_id=103)]

In [46]:

# employees_df.repartition(1).write.mode("overwrite").csv("./employees_data", header = True)
# departments_df.coalesce(1).write.csv("./departments_data.csv", header = True)